body{
background-color:#0E1117;
}

h1{
color:#FF4B4B;
text-align:center;
}

.stButton>button{
background-color:#FF4B4B;
color:white;
border-radius:15px;
width:100%;
}

img:hover{
transform:scale(1.03);
transition:0.3s;
}